h1 {
    font-family: 'Dancing Script', cursive;
  
  }

.header{
    
    background-image: url("../img/4.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 80vh;
    background-position:center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: aliceblue;
    background-attachment: fixed;
    line-height: revert;
    flex-direction: column
}
.header hr {
    height: 2px;
    color: white;
    opacity: .75;
}
.header h1{
    margin-top: 0px;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1;
    font-size: calc(3.375rem + 1.5vw);
}
.header p{
    display: flex;
}
    .con-us .brinda{
        height:40px;
        width: 40px;
        background-color: rgb(212, 133, 13);

    }
    .con-us h5{
        padding-left: 100px;
        width: 250px;
    }
    .con-us p{
        width:500px;
        padding-left: 100px;
    }
    .con-us a{
        text-decoration: none;
    }
     
    /* photos.html css */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .container .image-container{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        padding: 10px;
    }
    .container .image-container .image{
        height: 250px;
        width: 350px;
        border: 5px solid #ddd;
        box-shadow: 0 5px 15px rgba(0,0, 0,1);
        overflow: hidden;
        cursor: pointer;
    }
    .container .image-container .image img{
        height:100%;
        width: 100%;
        object-fit: cover;
        transition: 2s linear;
    }
    .container .image-container .image:hover img{
        transform: scale(1.1);
    }
    .container .popup-image{
        position:fixed;
        top: 0; left: 0;
        background: rgba(0,0, 0,.9);
        height: 100%;
        width: 100%;
        z-index: 100;
        display: none;
    } 
    .container .popup-image span {
        position: absolute;
        top: 50px;
        right: 100px;
        /* font-size: 40px; */
        font-weight: bolder;
        color: white;
        cursor: pointer;
        padding: auto;
        z-index: inherit;
        
       
    }
    .line {
        width: 13%;
    }
    .container .popup-image img {
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 3px solid white;
        border-radius: 5px;
        width: 750px;
        object-fit: cover;
    }


.card-body a{
    justify-content: end;
    margin-left: 110px;
}
.manu .card img{
    height: 230px;
}
.services .card {
    text-align: center;
    padding: 20px 30px;


}
.services .card img {
    width: 90px;
}



@media (max-width: 324px) { 
    .col-sm-12  {
        justify-content: center;
    }
    .welcome h1 {
        font-size:20px;
        text-align: center;
    }
    .welcome hr {
        margin: auto;
        width: 75%;
    }

    }
   

 /* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 576px) { 
.col-sm-12  {
    justify-content: center;
}
.welcome h1{
    font-size:35px;
}
.footer-text{
   text-align: center;
}
.manu .card{
 margin-bottom: 10px;
}

}

 /* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .container .popup-image img {
        width: 95%; 
    }
   
    
}

 /* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
   
}

 /* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
   
}

